p.done {color: #7f7f7f;}
p.done:after {
    content: " - готово";
    font-weight: bold;
    color: #444;
}


.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.card .card-body {
    padding: 20px;
}

.results .grid, .results .albums .album__photos {display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;}

.results .grid .item {padding-bottom: 10px;text-align: center;  }
.results .grid .item .photo100{ max-height: 100px;}

.results .grid .item p {line-height: 20px;}

.results .friendsList .friend {flex-basis: 120px;}

.results .groups .group {    flex-basis: 180px; padding: 0 10px 10px;}

.results .allphotos .photoInBanch ul {text-align: left;}
.results .allphotos .item p { max-width: 200px;}


.results .photo_desc {margin:0 20px 10px 0;}
.results .photo_desc {display: flex; flex-wrap: wrap; flex-direction: row;align-items: center;}
.results .photo_desc img {margin-right: 10px;}

.results .photo_info {text-align: left;}
.results .photo_info > div {color: #8e97a1; background-repeat: no-repeat;
    padding-left: 35px;
    font-weight: 500;}
.results .photo_info .like {background-image: url(../img/ico/vk_like.svg);}
.results .photo_info .repost {background-image: url(../img/ico/vk_share.svg);}
.results .photo_info .comments {background-image: url(../img/ico/vk_comment.svg);}


.results .photo_text {font-size: 18px;margin-bottom: 2px;}
.results .photo_comments {font-size: 16px;}



.results .albums {flex-direction: column;}
.results .albums .album {}
.results .albums .album .h3 {text-align: left;}
.results .albums .album .h3:first-letter {text-transform: uppercase;}
.results .albums .album .h3 span {font-size: 20px; color: #888;}

.results .albums .album .photos {justify-content: flex-start;}
.results .albums .album .photos .photo {width: 180px;}

.results .albums .album__photos {justify-content: flex-start;display: flex;
    flex-wrap: wrap;}
.results .albums .album__photos .photo {width: 220px;text-align: left;}
