p.done {color: #7f7f7f;}
p.done:after {
    content: " - готово";
    font-weight: bold;
    color: #444;
}


.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.card .card-body {
    padding: 20px;
}

.results .grid, .results .albums .album__photos {display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;}

.results .grid .item {padding-bottom: 10px;text-align: center;  }
.results .grid .item .photo100{ max-height: 100px;}

.results .grid .item p {line-height: 20px;}

.results .friendsList .friend {flex-basis: 120px;}

.results .groups .group {    flex-basis: 180px; padding: 0 10px 10px;}

.results .allphotos .photoInBanch ul {text-align: left;}
.results .allphotos .item p { max-width: 200px;}

.results .photo_desc {display: flex; flex-wrap: wrap; flex-direction: row;align-items: center;}
.results .photo_desc img {margin-right: 10px;}

.results .photo_info {background-color: rgba(255, 255, 255, 0.83);
    padding: 4px 0;
    /* height: 100%; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: center;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;}

.results .photo_info > div {color: #8e97a1; background-repeat: no-repeat;
    padding-left: 30px;
    font-weight: 500;
    margin: 0 8px;}
.results .photo_info .like {background-image: url(../img/ico/vk_like.svg);}
.results .photo_info .repost {background-image: url(../img/ico/vk_share.svg);}
.results .photo_info .comments {background-image: url(../img/ico/vk_comment.svg);}


.results .photo_text {font-size: 18px;margin-bottom: 0px;height: 25px;
    overflow: hidden;
    /*position: absolute;*/
    transition: all 0.5s ease-out;}
.results .photo_text:first-letter {text-transform: uppercase; font-weight: bold; color: #adaffa;}
.results .photo_text.filled {background-color: rgba(255, 255, 255, 0.83);  }
.results .albums .album__photos .photo:hover .photo_text {height: 120px;}




.results .photo_comments {font-size: 16px;}
.results .photo_comments .comment {display: flex;flex-wrap: wrap;padding: 6px 0 12px;    border-bottom: 3px dotted #eee;}
.results .photo_comments .comment:nth-child(even) {
    background-color: #fefefe;
}

.results .photo_comments .comment .fromImg{width: 50px; padding-right: 8px; border-radius: 100px;}
.results .photo_comments .comment .text {width: 120px;    text-align: left;}
.results .photo_comments .comment .text p:first-child {font-style: italic;}
.results .photo_comments .comment .text p {margin-bottom: 2px;}
.results .photo_comments .comment .text .fromName {padding-right: 14px;}



.results .albums {flex-direction: column;}
.results .albums .album {}
.results .albums .album .h3 {text-align: left;}
.results .albums .album .h3:first-letter {text-transform: uppercase;}
.results .albums .album .h3 span {font-size: 20px; color: #888;}

.results .albums .album .photos {justify-content: flex-start;}
.results .albums .album .photos .photo {width: 180px;}

.results .albums .album__photos {justify-content: flex-start;display: flex;
    flex-wrap: wrap;}
.results .albums .album__photos .photo {
    min-height: 180px;
    width: 230px;
    overflow: hidden; position: relative;
    border: 5px outset #ccc;
    border-radius: 20px;
    margin: 0 15px 20px 0;
    background-repeat: no-repeat;
    background-size: cover;
}
.results .albums .album__photos .photo:hover  {overflow: visible;}
.results .albums .album__photos .photo .photo_comments {position: absolute;
    text-align: center; margin-top: -100%; opacity: 0;    width: 100%;
    transition: margin 0.4s ease-in, opacity 0.1s ease-out 0.2s;
    border: 4px outset #aaa;
    background-color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.results .albums .album__photos .photo:hover .photo_comments {
    transition: margin 0.4s ease-out, opacity 0.1s ease-out 0.2s;
    margin-top: 0;opacity: 1;
    z-index: 1000;

}


.results .albums .album__photos .photo.extended_photo {width: 440px;}

.results .photo.extended_photo .photo_comments .comment .text {width: 320px;}


